script(src="/javascripts/jquery.min.js")
script(src="/javascripts/bootstrap.min.js")
script(src="/javascripts/markdown.js")
script(src="/javascripts/moment.js") 
link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")