.admin {
    margin-top: 10px;
}
.admin label {
    padding-top: 0!important;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #34495e;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
#footer p {
  vertical-align: middle;
}