doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    include ../includes/head
  body
    .blog-wrapper.clearfix
      include ../includes/header
      main.container.about-container
        .about-content.col-sm-11.col-lg-12.col-md-12
          article.about-article
            header
              .h1 关于
            section.about-section
              ul
                li 
                  h3 简介
                  p 王天立，男，天津人，黑龙江大学计算机科学与技术专业大四学生（9月），专注于web前端方向，志同道合的妹子请联系我
                li
                  h3 个人履历
                  p.msg 百度网页搜索部实习生 2016.12-2017.8
                  p.msg 黑龙江大学 2014-2018
                  p.msg 天津市南开中学 2007-2010
                li
                  h3 爱好
                  p.msg 喜欢打篮球，偶像詹姆斯
                  p.msg 喜欢玩游戏，lol，绝地求生，2k
                li
                  h3 个人段位
                  p.msg lol 目前钻5守门员 游戏id：卡牌（网一） 游走大魔王（网四）
                  p.msg dota1 曾经2000分大神 11id：SHAB玩影魔
                  p.msg 王者荣耀 白金2 id：我爱景甜
                  p.msg 绝地求生 steamid：fuckjige
                  p.msg 2k9-2k17
                li
                  h3 妹子请联系我
                  p.msg qq: 1101544275
                  p.msg wechat: yaphetswtl519  
      include ../includes/footer