doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    include ../includes/head
  body
    .blog-wrapper.clearfix
      include ../includes/header
      main.container.link-container
        .link-content.col-sm-11.col-lg-12.col-md-12
          article.friendlink
            header.link-header
              h1.link-title 友情链接
            section.link-content
              blockquote
                p 大神们
              ul.link-ul
                li
                  a(href="http://blog.csdn.net/q1056843325") 培森
      include ../includes/footer